@model PizzaViewModel
@{
    Layout = "_Layout";
}
<html lang="en" dir="ltr">
<head>
    <link rel="stylesheet" href="/css/pizzaV4.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />

</head>
<body>

    <section data-aos="fade-up" data-aos-duration="1600">

        <div class="text-container">
            <h1>Pizzas</h1>
        </div>
        <br />
        
       
        <div class="row justify-content-center">

            @foreach (var pizza in Model.Pizzas)
            {
                <div class="card">
                    <div class="circle"></div>
                    @if (pizza.Data != null && pizza.Data.Length > 0)
                    {
                        string base64Image = Convert.ToBase64String(pizza.Data);
                        string imageSource = string.Format("data:image/png;base64,{0}", base64Image);
                        <img src="@imageSource" />
                    }
                    <div class="content">
                        <h2>@pizza.PizzaName</h2>
                        <p>@pizza.Description @pizza.FinalPrice₾</p>
                        <form asp-controller="Checkout" asp-action="Index" method="post">
                            <input type="hidden" name="id" value="@pizza.Id" />
                            <button role="button"> <span class="text"> Buy Now</span> </button>
                        </form>
                    </div>
                </div>
            }
        </div>

    </section>
   
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>